In [2]:
import sqlite3 as sql

In [4]:
db = sql.connect('Student.db')

db.execute("drop table if exists grades")
db.execute("create table grades(id int, name text, score int)")

db.execute("insert into grades(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades(id, name, score) values(105, 'Kris',95 )")

db.commit()

results = db.execute("select * from grades order by id")
for row in results: print(row)
    
print("-" * 50 )
results = db.execute("select * from grades where name = 'Gary' ")
for row in results: print(row)
    
print("-" * 50 )
results = db.execute("select * from grades where score >= 90 ")
for row in results: print(row)
    
print("-" * 50 )
results = db.execute("select name, score from grades order by score desc ")
for row in results: print(row)
    
print("-" * 50 )
results = db.execute("select name, score from grades order by score")
for row in results: print(row)

(101, u'John', 99)
(102, u'Gary', 90)
(103, u'James', 80)
(104, u'Cathy', 85)
(105, u'Kris', 95)
--------------------------------------------------
(102, u'Gary', 90)
--------------------------------------------------
(101, u'John', 99)
(102, u'Gary', 90)
(105, u'Kris', 95)
--------------------------------------------------
(u'John', 99)
(u'Kris', 95)
(u'Gary', 90)
(u'Cathy', 85)
(u'James', 80)
--------------------------------------------------
(u'James', 80)
(u'Cathy', 85)
(u'Gary', 90)
(u'Kris', 95)
(u'John', 99)

### updating and deleting

In [5]:
db.execute("update grades set score = 88 where name = 'Cathy' ")
db.commit()

print("-" * 50 )
results = db.execute("select * from grades order by id")
for row in results: print(row)
    
db.execute("delete from grades where id = 103")
db.commit()

print("-" * 50 )
results = db.execute("select * from grades order by id")
for row in results: print(row)

--------------------------------------------------
(101, u'John', 99)
(102, u'Gary', 90)
(103, u'James', 80)
(104, u'Cathy', 88)
(105, u'Kris', 95)
--------------------------------------------------
(101, u'John', 99)
(102, u'Gary', 90)
(104, u'Cathy', 88)
(105, u'Kris', 95)