In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [7]:
scores = [ 92, 88, 95, 85, 98 ]
students = ['Gary', 'Alex', 'Kris', 'Tom', 'Cathy']
s3 = Series(scores, index=students)
s3.name = "Python 101 Students"
s3, pd.isnull(s3), pd.notnull(s3)

(Gary     92
 Alex     88
 Kris     95
 Tom      85
 Cathy    98
 Name: Python 101 Students, dtype: int64, Gary     False
 Alex     False
 Kris     False
 Tom      False
 Cathy    False
 Name: Python 101 Students, dtype: bool, Gary     True
 Alex     True
 Kris     True
 Tom      True
 Cathy    True
 Name: Python 101 Students, dtype: bool)

In [8]:
x = list( range(11, 16))
ind = ['A', 'B', 'C', 'D', 'E']
S5 = Series( x, index=ind )
S5

A    11
B    12
C    13
D    14
E    15
dtype: int64

In [9]:
ind2 = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
S6 = S5.reindex( ind2 )
S6

A    11
B    12
C    13
D    14
E    15
F   NaN
G   NaN
dtype: float64

In [10]:
ind3 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
S7 = S6.reindex( ind3, fill_value = 0 )
S7

A    11
B    12
C    13
D    14
E    15
F   NaN
G   NaN
H     0
I     0
dtype: float64

In [20]:
S7.dropna()

A    11
B    12
C    13
D    14
E    15
H     0
I     0
dtype: float64

In [21]:
S7[ ['C', 'E'] ]

C    13
E    15
dtype: float64

In [12]:
S7[ S7 >13 ]

D    14
E    15
dtype: float64

In [16]:
S8 = Series( np.random.rand(3), index=['A', 'B', 'C'] )
S9 = Series( np.random.rand(4), index=['A', 'B', 'C', 'D'] )
S8, S9, S8 + S9

(A    0.981801
 B    0.607670
 C    0.767485
 dtype: float64, A    0.534557
 B    0.864885
 C    0.568053
 D    0.335541
 dtype: float64, A    1.516358
 B    1.472555
 C    1.335538
 D         NaN
 dtype: float64)

In [17]:
S9.rank()  # the ranking

A    2
B    4
C    3
D    1
dtype: float64

In [19]:
S9.sort()   # rearrange the Serie
S9

/home/zliu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for for INPLACE sorting
  if __name__ == '__main__':

D    0.335541
A    0.534557
C    0.568053
B    0.864885
dtype: float64

In [22]:
ind1 = [1,1,1, 2, 2, 2 ]
ind2 = "a b c a b c".split()
x = []
for i in range(6):
    x.append( np.random.randint( 101, 1000))
S13 = Series( x, index=[ ind1, ind2 ])
S13

1  a    459
   b    952
   c    205
2  a    932
   b    522
   c    700
dtype: int64

In [23]:
S13[1]

a    459
b    952
c    205
dtype: int64

In [24]:
S13[ :, 'a']

1    459
2    932
dtype: int64

In [25]:
df1 = S13.unstack()
df1

     a    b    c
1  459  952  205
2  932  522  700